
.bodyList {
  .ant-col {
    height: 100%;
    padding-bottom: 20px;

    .bodyListItem {
      height: 260px;

      .bodyCard {
        height: 100%;

        .bodyCardImg {
          height: 150px;
        }


        .bodyCardRemark {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

}
