.cell{
  width: 100%;
  display: block;
  text-overflow: ellipsis;  /*超出内容用省略号*/
  overflow: hidden; /*内容超出后隐藏*/
  white-space: nowrap; /*文本不进行换行*/
}
.search{
  width : 150px;
  margin: 0 10px;
}
.method{
  width: 80px;
}
.table {
  height: 100%;
}
.action{
  button{
    margin-left: 10px;
  }
}
